.full-body{
    /* background-image: url(./home-page.jpg); */
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
background-image: linear-gradient(rgba(0,0, 0, 0.66), rgba(0, 0, 0, 0.50)), url(./home-page.jpg) ;
    
    
}

*{
    color: aliceblue;
    padding: 0%;
    margin: 0%;
    
}

nav{
    width: 800px;
    height: 100px;
    position: absolute;


}

nav>ul{


display: inline;
position: relative;
left: 75%;
color: white;
border: none;

top: 30px;
background: none;
margin: 10px;

}
nav>ul:hover{
    border-bottom: 4px solid aqua;


}
nav>h1{
    display: inline;
position: relative;
top: 30px;
background: none;
}
#h1>p{
    display: inline;
    position: relative;
    top: 250px;
    left: 410px;
    font-size: 50px;

}
#contant>p{
display: inline;
position: relative;
top: 290px;
left: 320px;
font-size: 20px;
}
#button>button{
    display: inline;
    position: relative;
    top: 330px;
    left: 520px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    color: black;

}
#button>button:hover{
    background-color: rgb(93, 125, 128);

}
