.full-body{
    /* background-image: url(./home-page.jpg); */
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
background-image: linear-gradient(rgba(0,0, 0, 0.66), rgba(0, 0, 0, 0.50)), url(./home-page.jpg) ;
    
    
}

*{
    color: aliceblue;
    padding: 0%;
    margin: 0%;
    
}

nav{
    width: 800px;
    height: 100px;
    position: absolute;
    top: -40px;


}

nav>ul{


display: inline;
position: relative;
left: 75%;
color: white;
border: none;

top: 30px;
background: none;
margin: 10px;
padding-bottom: 5px;

}
nav>ul:hover{
    border-bottom: 4px solid  #ff9a00;


}
nav>h1{
    display: inline;
position: relative;
top: 30px;
background: none;
}
#h1>p{
    display: inline;
    position: relative;
    top: 250px;
    left: 410px;
    font-size: 50px;
    color: #ff9a00;

}
#contant>p{
display: inline;
position: relative;
top: 290px;
left: 320px;
font-size: 20px;
color: #ff9a00;
}
#button>button{
    display: inline;
    position: relative;
    top: 330px;
    left: 520px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    color: black;
 background-color: #ff9a00;
 font-weight: bold;
 box-shadow: 0px 0px 40px 2px  #ff9a00;
 border: 3px solid black;
}
#button>button:hover{
    background-color: black;
    color: #ff9a00;
    border: 3px solid #ff9a00;
    box-shadow: 0px 0px 40px 2px  black;

}
nav>img{
width: 150px;
position: relative;
top: 50px;
border-radius: 10px;


}